ZABBIX_URL=http://192.168.1.233/zabbix
API_TOKEN=ISI_TOKEN_ANDA
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=apri@piagam.id
SMTP_PASS=ISI_APP_PASSWORD
TO_EMAIL=it@piagam.id
REPORT_PATH=C:/Zabbix/Zabbix_Weekly_Report.pdf
CHART_PATH=C:/Zabbix/chart.png
PIE_PATH=C:/Zabbix/pie.png