# Zabbix
ZABBIX_URL=http://IP_ZABBIX_SERVER/zabbix
ZABBIX_API_TOKEN=ISI_TOKEN_ZABBIX_DISINI

# Email / SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email@domain.com
SMTP_PASS=ISI_APP_PASSWORD_GMAIL
TO_EMAIL=penerima@domain.com

# Output path
BASE_OUTPUT_DIR=C:/Zabbix

# Server
APP_HOST=0.0.0.0
APP_PORT=8005
