# Mikrotik Router Credentials
# Salin file ini jadi .env lalu isi dengan nilai asli

MIKROTIK_1_NAME=Nama Lokasi 1
MIKROTIK_1_HOST=192.168.x.x
MIKROTIK_1_USER=admin
MIKROTIK_1_PASS=PASSWORD_MIKROTIK
MIKROTIK_1_PORT=8728

MIKROTIK_2_NAME=Nama Lokasi 2
MIKROTIK_2_HOST=192.168.x.x
MIKROTIK_2_USER=admin
MIKROTIK_2_PASS=PASSWORD_MIKROTIK
MIKROTIK_2_PORT=8728

MIKROTIK_3_NAME=Nama Lokasi 3
MIKROTIK_3_HOST=192.168.x.x
MIKROTIK_3_USER=admin
MIKROTIK_3_PASS=PASSWORD_MIKROTIK
MIKROTIK_3_PORT=8728

MIKROTIK_4_NAME=Nama Lokasi 4
MIKROTIK_4_HOST=192.168.x.x
MIKROTIK_4_USER=admin
MIKROTIK_4_PASS=PASSWORD_MIKROTIK
MIKROTIK_4_PORT=8728
